.availableOne{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 20px;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 4%;
    justify-content: space-between;
}
.availableDelete{
    font-size: 15px;
    font-weight: 550;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}
.availableOne p{
    margin: auto;
}

.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.searchBar input{
padding: 12px; /* Increased padding for better user experience */
  color: #ffffff; /* Dark text color */
  margin-bottom: 10px; /* Increased margin for better spacing */
  background-color: #000000; /* Lighter background for inputs */
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}
.availableDetail{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.availableOne span{
    font-size: 10px;
}
.selectHostel{
    font-size: 15px;
    font-weight: 550;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side,#000 90%,#0000) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
  }
  @keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}