/* General styling */
body {
    
    font-family: 'Poppins', sans-serif;
}

/* Centering the login container */
.loginCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Sign-up form styling */
.signupForm {
    padding: 20px;
    width: 120%;
}

/* Form layout styling */
.loginForm {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 550px;
}

.loginFormLabel,
.loginFormLabel1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.signUpPassword {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 48%;
}

.signUpPassword label,
.loginFormLabel label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

/* Input field styling */
.loginInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
    color: white;
    background-color: #000000;
    box-sizing: border-box;
}

.loginInput:focus {
    border-color: #007bff;
    outline: none;
}

/* Button styling */
.login_home {
    display: inline-block;
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-weight: 700;
}

.login_home:hover {
    background-color: #ffffff;
    border: 1px solid black;
    color: rgb(0, 0, 0);
}

/* Label and span styling */
label {
    display: block;
    color: #777;
}

label span {
    color: #000000;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

label span:hover {
    color: #000000;
}

/* Heading styling */
h1 {
    margin-bottom: 20px;
    font-size: 50px;
    color: #000000;
}

.signupMsg{
    position: absolute;
    border: 1 px solid black;
    padding: 5%;
}